.vs/
.gitignore
PresentationLayer/bin/
PresentationLayer/obj/
DataAccessLayer/bin/
DataAccessLayer/obj/
BusinessLayer/bin/
BusinessLayer/obj/
Web/bin/
Web/obj/
Web/wwwroot/json-test/
Web/wwwroot/content/image/pepperoni
Web/wwwroot/content/image/test