@{
    ViewData["Title"] = " | О нас";
}

@section Styles {
    <link rel="stylesheet" href="~/css/about.css">
}

<div class="page">
    <div class="panel" data-type="about">
        <div>
            <section class="about-item">
                <h1 class="panel-title">Мы</h1>
                <p class="about-text">Привет. Меня зовут Владислав.</p>
                <div class="about-footer"></div>
            </section>
        </div>
    </div>
</div>