@{
    ViewData["Title"] = " | О нас";
}

@section Styles {
    <link rel="stylesheet" href="~/css/about.css">
}

<div class="page">
    <div class="panel" data-type="about">
        <div>
            <section class="about-item">
                <h1 class="panel-title">Мы</h1>
                <p class="about-text">Котокафе – это не просто заведение, это настоящая оазис для всех, кто обожает кошек и ценит атмосферу уюта. В нынешней суете и напряженности современной жизни котокафе стали островками спокойствия, где можно погрузиться в мир тепла и нежности. Это удивительное место, где сливаются воедино две страсти, которые особенно близки многим людям: любовь к кофе и приверженность кошкам. Эти заведения превратились в настоящие культовые места, магнетически притягивающие любителей мурчащих созданий.<br></br>В котокафе гости не просто наслаждаются кофе и десертами – они окружают себя мягкими и пушистыми спутниками, которые принимают их с открытыми лапами и готовностью поделиться теплом и лаской. Эти кошки, нередко спасенные из приютов, становятся частью большой кофейной семьи, их ласковое присутствие создает уникальную атмосферу и привносит радость в серые будни.<br></br>Основной целью котокафе является создание уникальной атмосферы релаксации и уютного общения с кошками. Здесь посетители могут забыть о повседневных заботах и стрессах, окунуться в мир нежности и радости, который приносят кошки. Коты и кошки, проживающие в кафе, часто являются дружелюбными и ласковыми, готовыми подарить посетителям моменты настоящего счастья.<br</br>Котокафе также часто организуют мероприятия, связанные с кошками: мастер-классы по уходу за ними, встречи с ветеринарами, благотворительные акции в поддержку бездомных животных. Это место, где можно не только провести время с пушистыми друзьями, но и узнать больше о мире кошек и внести свой вклад в их благополучие.<br></br>Коты и кошки, проживающие в кафе, часто становятся не только любимцами посетителей, но и источником вдохновения и радости. Их игры, ласки и уникальные характеры делают каждое посещение котокафе незабываемым опытом.
                </p>
                <div class="about-footer"></div>
            </section>
        </div>
    </div>
</div>