@{
    ViewData["Title"] = " | Контакты";
}

@section Styles {
    <link rel="stylesheet" href="~/css/contacts.css">

}

<div class="page">
    <div class="panel" data-type="contacts">
        <div>
            <section class="contacts-item">
                <h1 class="panel-title">Пока пусто ;(</h1>
                <p class="contacts-text">Мы не открыты.<br>Нас не найти!<br>Прощайте!</p>
                <div class="contacts-footer"></div>
            </section>
        </div>
    </div>
</div>