@{
    ViewData["Title"] = " | Наши работники";
}

@section Styles {
    <link rel="stylesheet" href="~/css/workers.css">
}

<main class="page">
    <section class="panel" data-type="workers">
        <h1 class="panel-title">А вот и наша любимая команда!</h1><br><br>


        <article class="workers-item">
            <main class="item" data-type="worker">
                <picture class="worker-photo" data-type="worker">
                    <img src="../content/image/pepperoni.png" alt="">
                </picture>
                <div class="worker-info">
                    <div class="name-surname">
                        <div class="worker-name">Владислав</div>
                        <div class="worker-surname">Якушев</div>
                    </div>
                    <div class="worker-post">Кофе-мастер</div>
                    <div class="worker-date">04.10.2004</div>
                </div>
            </main>
            <footer class="worker-about">
                <h2>Когда я вступаю в Кото-Кафе каждое утро, мягкий свет и аромат свежесваренного кофе окутывают меня, создавая уютную обстановку, в которой я чувствую себя как дома. Моя работа начинается с того, что я выбираю лучшие зерна кофе и внимательно обжариваю их, чтобы приготовить напитки высочайшего качества для каждого гостя.</h2>
            </footer>
        </article>



    </section>
</main>
